<h1>Editing Handy</h1>

<%= render 'form', handy: @handy %>

  <br><br>

<p class="imagefont" >
<font size= "20" ><%= link_to 'Show', @handy %> </font><font>| </font>
<font size= "20" ><%= link_to 'Back', handies_path %> </font>
</p>