<h1>Please select products to create list and generate report </h1>
<br><br>


<ul class="list-group" style="width: 50%;">
  <li class="list-group-item">
    <span class="badge"><%= Handy.count %></span>
    <%= link_to "Handy Product", handies_path,  class: 'btn btn-primary btn-lg' %>
  </li>
  
  
</ul>