<h1>Editing E-flash-SSD</h1>

<%= render 'form', eflashssd: @eflashssd %>

<br><br>

<p class="imagefont" >
<font size= "20" ><%= link_to 'Show', @eflashssd %> </font><font>| </font>
<font size= "20" ><%= link_to 'Back', eflashssds_path %> </font>
</p>