// Place all the styles related to the eflashssds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#hide{
 display: none;
}

a.btn.btn-primary{
    color: #fff;
}

.search{
	width: 15%;
}

.width{
	width: 37%;
	border: 3px solid #ced4da;
	padding: 2px;
}

.imagefont{
	font-size: 19px;
}